<div class="container-menu">
  <div>
    <img src="./assets/LogoShopeame.jpeg" alt="logo_shopeame">
  </div>
<div class="menu__img">
<ul>
  <li> <a routerLink= "" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img class="image" src="./assets/nuc copia.png" alt="Imagen_Home">
    <h5>Home</h5>
      </a>
    </li>
  <li><a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img class="image" src="./assets/prismaticos copia.png" alt="Imagen_Productos">
    <h5>Prods.</h5>
  </a></li>
  <li><a routerLink="/gestion" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <img class="image" src="./assets/timon.png" alt="Imagen_Gestion">
    <h5>Gestión</h5>
    </a>
  </li>
</ul>
</div>
</div>
