<!-- <h2>Angular 13 Star Rating Example</h2>
<ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating> -->

<div class="container__star">
    <input type="radio" name="star" id="star-5" value="5">
    <label for="star-5" class="fa-solid fa-star">★</label>
    <input type="radio" name="star" id="star-4" value="4">
    <label for="star-4" class="fa-solid fa-star">★</label>
    <input type="radio" name="star" id="star-3" value="3">
    <label for="star-3" class="fa-solid fa-star">★</label>
    <input type="radio" name="star" id="star-2" value="2">
    <label for="star-2" class="fa-solid fa-star">★</label>
    <input type="radio" name="star" id="star-1" value="1">
    <label for="star-1" class="fa-solid fa-star">★</label>
</div>